﻿#MainHeading {

    text-align:center;
}

h1 {
    text-align:center;
}

.modal-wide .modal-dialog {
  width: 80%; /* or whatever you wish */
}

.scrollableTable {
    width: 98%;
    height: 600px;
    overflow: auto;
}

.uppercase
{
    text-transform: uppercase;
}